#case-sucesso{
    font-family: var(--fonte-Poppins);
}

.content-card-case-sucesso{
    background-color: #F2F4F0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-titulo-case-sucesso h2{
    font-family: var(--fonte-Poppins);
    font-weight: 800;
    color: #191E15;
    font-size: 3rem;
}

.btn-saiba-mais-case-sucesso{
    text-decoration: none;
    background-color: #65A30D;
    color: white;
    animation: pulse 1.5s infinite;
    transition: 0.5s;
}

.btn-saiba-mais-case-sucesso:hover{
    background-color: #191E15;
    color: #65A30D;
} 

/* Swiper */
.swiper-slide{
    margin-bottom: 55px;
}
.swiper-pagination-bullet {
    background-color: #191E15;
    height: 15px;
    width: 15px;
}
.swiper-pagination-bullet-active {
    background-color: #65A30D;
}

@media (max-width: 992px){
    .titulo2-case-sucesso{
        line-height: 3.5rem;
    }
}