.bg-info-bar{
    background-color: #191E15;
    color: white;
}

.bg-info-bar a{
    color: white;
}

.contato-info-bar p{
    font-family: var(--fonte-SegoeUi);
    font-size: 1rem;
    font-weight: 400;
}