.bg-info-bar{
    background-color: #191E15;
    color: white;
}

.bg-info-bar a{
    color: white;
}

.contato-info-bar p{
    font-family: var(--fonte-SegoeUi);
    font-size: 1rem;
    font-weight: 400;
}

.redes-info-bar a{
    transition: 0.5s;
}
.redes-info-bar a:hover{
    color: #65A30D;
}