.bg-servicos{
    background-image: url('../img/bg-servicos.webp');
    background-position: center;
    background-size: cover;
}

.content-titulo-servicos{
    color: #F2F4F0;
    font-family: var(--fonte-Poppins);
}

.titulo1-servicos{
    font-weight: 600;
    font-size: 1.2rem;;
}
.titulo2-servicos{
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5rem;
}

.content-card-servicos{
    background-color: #F2F4F0;
    
}
.content-card-servicos h4{
    font-family: var(--fonte-Poppins);
    color: #191E15;
    font-size: 1.2rem;
    font-weight: 700;
}
.content-card-servicos p{
    font-family: var(--fonte-SegoeUi);
    color: #4A5A3F;
    font-size: 1rem;
    font-weight: 400;
}   
.content-card-servicos a{
    font-family: var(--fonte-SegoeUi);
    text-decoration: none;
    color: #65A30D;
    font-size: 1rem;
}
.content-card-servicos a:hover{
    color: #191E15;
}
